div{
  width: 60%;
  position: absolute;
  backdrop-filter: blur(10px);
  background: rgba(225,225,225,50%);
  left: 0;
  padding: 10px 20%;
}
.tab{
  width: 100%;
  text-align: center;
  background: rgba(225,225,225,30%);
  position: fixed;
  padding: 10px 0 10px 0;
}
.imtitle{font-size: 45px;font-weight: bold;}
.hid{
  width: 90%;
  padding: 10px;
  backdrop-filter: blur(0);
  background: rgba(0,0,0,0);
  text-shadow: 1px 2px 1px #000000;
}
h1{
  font-size: 36px;
  color: darkgreen;
  text-align: center;
}
h2,th{
  font-size: 30px;
  color: darkslateblue;
  text-align: center;
}
p,td{font-size: 25px;}
td{text-align: center;}
footer{
  font-size: 20px;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
} 
a:hover{
  color: coral;
}